@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Main";
  src: url(/Font-Rubik.ttf);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  font-family: "Main";
  box-sizing: border-box;
}